:root{
    --green: #E4FDE1;
    --brown: #735F3D;
    --blue: #8AC4FF;
    --pink: #C6878F;
    --orange: #FF9F1C;
}

body, button, h1 {
    font-family: "Handjet";
}

body { 
    min-height: 100vh;
    background-color: #F1F1F1;
}

.header, footer {
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 50px;
    padding: 10px;
}

.responsive-image {
    height: auto;
    width: 100%;
    max-height: 400px;
}

footer {
    bottom: 0;
    width: 100%;
    padding: 100px 0px;
    height: 150px;   
  }

  .center {
    margin: auto;
    width: 100%;
    max-width: 600px;
    max-height: 400px;
    padding: 30px; /* vertical align */
    text-align: center;
  }
.header {
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 15px;
    place-items: center;
}


/* BUTTONS */
.filter-button {
    overflow: hidden;
    transition : .2s;
    cursor: pointer;
    text-align: center;
    width: 250px;
    height: 150px;
    border-radius: 90px;
}

.filter-button-text{
    position : relative;
    width : 300px;
    height : 100px;
    left : -300px;
    transition : 1s;
    margin-top: -118px;
    font-size: 80px;

}
.filter-button-icon {
    transition : 2s; 
    margin-top: 20px;
    font-size: 100px;
}

.filter-button:hover .filter-button-text{
    left: -20px;
}

.filter-button:hover .filter-button-icon{
    margin-left : 300px;

  } 

.filter-button:active { /*Clicked and held*/
    box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
  }

.enter-button {
    font-size: 100px;
    color: var(--orange);
    background-image: url(../assets/border.jpg);
    border-radius: 25px;
    
}

.enter-button:hover {
    filter: invert(0.9);
}

.return-button {
    height: 150px;
    font-size: 20px;
    color: var(--green);
    background-image: url(../assets/light-lq-sm.jpeg);
    border-radius: 25px;
    width: 150px;
}
.return-button:hover {
    background-image: url(../assets/dark-lq-sm.jpeg);
}